includes:
	- ../../phpstan/phpstan/conf/bleedingEdge.neon
	- ../../phpstan/phpstan-symfony/extension.neon
	- ../../phpstan/phpstan-phpunit/extension.neon

parameters:
    paths:
        - ../../../src
        - ../../../tests
    level: 7
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
